:root {
  /*### Primary*/
  --blue: hsl(223, 87%, 53%);
  /*### Secondary*/
  --light-red: hsl(354, 100%, 66%);
  /*### Neutral*/
  --gray: hsl(0, 0%, 59%);
  --very-light-blue: hsl(212, 43%, 98%);
  --very-dark-blue: hsl(209, 33%, 12%);
  /*### social media links*/
  --facebook: hsl(214, 89%, 52%);
  --twitter: hsl(203, 89%, 53%);
  --google: hsl(5, 81%, 56%);
  /*variables*/
  --popup-open: none;
  /*### link status colors*/
  --available: hsl(142, 69%, 54%);
  --expired: hsl(0, 90%, 66%);
}
html, button, input {
  font-size: 20px;
  font-family: 'Libre Franklin';
}
body {
  min-height: 90vh;
}
body, main, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  font-size: 1rem;
}
.heading > span:first-child {
  color: var(--blue);
}
.title {
  font-size: 1.25rem;
  margin: 0;
  color: var(--gray);
}
.title > span {
  font-weight: 700;
  color: var(--very-dark-blue);
}
.sub__title {
  margin: 0;
}
.notify__form {
  margin: 2rem;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 25%;
  grid-template-areas: 
    'o o o o'
    'a a a b'
    'c c c c';
  gap: 0 1rem;
  min-width: 50vw;
}
.minified__url {
  font-size: 0.65rem;
  margin: 0 0 0.25rem 1.5rem;
  display: none;
}
.minified__url > span:first-child {
  font-weight: 700;
}
.minified__url > a {
  text-decoration: none;
  color: var(--blue);
}

.minified__url > i {
  margin-left: 0.25rem;
  color: var(--gray);
  cursor: pointer;
}
.fa-copy:hover {
  color: var(--blue);
}
#copiedIcon, .copied__ack{
  display: none;
  color: green;
}
.copied__ack {
  font-size: 0.8em;
  font-weight: 600;
}
.o {
  grid-area: o;
}
.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.input__box{
  height: 100%;
  font-size: 0.75rem;
  height: 2rem;
  border-radius: 3rem;
  border: 1px solid lightgray;
  padding: 0 1.5rem;
}
.input__box::placeholder {
  color: var(--gray);
}
.input__box:focus {
  outline: none;
}
.submit__button {
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
  background-color: var(--blue);
  border: none;
  border-radius: 3rem;
  letter-spacing: 1px;
}
.submit__button:hover {
  background-color: white;
  box-shadow: inset 0 0 0 1px var(--blue);
  color: var(--blue);
  cursor: pointer;
}
.invalid {
  border: 1px solid var(--light-red);
}
.error__message {
  color: var(--light-red);
  font-size: 0.6rem;
  padding: 0 1.5rem;
  margin: 0.25rem 0;
}
.demo__img {
  max-height: 50vh;
}
.social__media {
  margin: 0;
  padding: 0;
  color: var(--blue);
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.social__media > li {
  padding: 0.2rem;
  box-shadow: inset 0 0 0 1px lightgray;
  border-radius: 1rem;
  text-align: center;
  vertical-align: middle;
  height: 1rem;
  width: 1rem;
  line-height: 0.8rem;
} 
.social__media > li > a {
  color: black;
  font-size: 0.7rem;
}
.social__media > li:hover a {
  color: white !important;
}
.social__media > li:hover {
  background-color: black;
  cursor: pointer;
  box-shadow: none;
}
.copyright {
  font-size: 0.6rem;
  color: var(--gray);
}
footer {
  margin-top: 2rem;
}
.d-none {
  display: none !important;
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.25rem;
  }
  .sub__title {
    font-size: 0.75rem;
  }
  .notify__form {
    width: 80%;
    grid-template-areas:
      'o' 
      'a'
      'c'
      'b';
    grid-template-columns: 100%;
  }
  .minified__url {
    text-align: center;
    margin: 0 0 0.25rem 0;
  }
  .error__message {
    text-align: center;
    white-space: nowrap;
  }
  .submit__button {
    height: 2rem;
  }
  .demo__img {
    max-width: 90%;
  }
}