.user__login {
  min-width: 70%;
  width: 70%;
  font-size: 0.75rem;
}
.login__form {
  display: grid;
  grid-gap: 0.25rem;
  justify-items: center;
}
.login__form__input {
  width: 100%;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  color: lightgray;
}
.login__form__input > i {
  margin-left: 0.5rem;
}
.login__form__input > input{
  border: none;
  font-size: 0.95em !important;
  padding: 0.25rem 0.75rem;
  width: 100%;
  box-sizing: border-box;
}
.login__form__input > input:focus {
  outline: none;
}
.login__form__links {
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.login__form__links > a{
  color: slateblue;
  text-decoration: none;
}
.login__form__links > a:hover{
  text-decoration: underline;
}
.login__form__submit__btn {
  font-size: 0.95em !important;
  padding: 0.4rem;
  border-radius: 2rem;
  border: none;
  color: white;
  background-color: var(--blue);
  letter-spacing: 1px;
  min-width:40%;
  margin-top: 1rem;
}
.login__form__submit__btn:hover {
  background-color: white;
  box-shadow: inset 0 0 0 1px var(--blue);
  color: var(--blue);
  cursor: pointer;
  font-weight: 700;
}
.or__divider {
  text-align: center;
}
.or__divider {
  font-size: 0.75em;
  color: var(--gray);
}
.login__form > .social__media {
  width: 6rem;
  align-items: center;
}
.login__form > .social__media > li {
  line-height: 1rem;
  box-shadow: none;
}
.login__form > .social__media > li > a{
  color: white !important;
}
.login__form > .social__media > li.facebook {
  background-color: var(--facebook);
} 
.login__form > .social__media > li.twitter {
  background-color: var(--twitter);
} 
.login__form > .social__media > li.google{
  background-color: var(--google);
}
.login__form > .social__media > li:hover {
  background-color: white;
  box-shadow: inset 0 0 0 1px lightgray;
}
.login__form > .social__media > li.facebook:hover a {
  color: var(--facebook) !important;
} 
.login__form > .social__media > li.twitter:hover a{
  color: var(--twitter) !important;
} 
.login__form > .social__media > li.google:hover a {
  color: var(--google) !important;
}
.social__media > li:hover {
  background-color: black;
  cursor: pointer;
  box-shadow: none;
}
@media only screen and (max-width: 600px) {
  .user__login {
    width: 90%;
  }
}